<form action="/admin/addCategories" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" id="abc">
    <input type="file" name="file" id="file">
    <button type="submit" class="btn btn-primary btn-block">submit</button>
  </form>