<div class="footer">
    <div class="contact block">
        <div class="heading">Contact</div>
        <div class="text">Working hours Mon-Fri 10-18 IST</div>
        <div class="number">+91 9027245775</div>
    </div>
    <div class="email block">
<h2>LET'S GET IN TOUCH!</h2>
<div class="text">What' s inside? Exclusive sales, new arrivals & much more.</div>
<form action="">
    <input type="email" placeholder="Email Address">
    <button>Sign Up</button>
</form>
<div class="disclaimer">
    * I accept the privacy and cookies policy to receive updates
</div>
    </div>
    <div class="share block">
        <div class="heading">Social Networks</div>
        <ul>
        <li><i class="zmdi zmdi-whatsapp"></i></li>
        <li><i class="zmdi zmdi-linkedin"></i></li>
        <li><i class="zmdi zmdi-twitter"></i></li>
        <li><i class="zmdi zmdi-youtube-play"></i></li>
        <li><i class="zmdi zmdi-pinterest-box"></i></li>
    </ul>
    </div>
</div>