<div class="header-nav">
  <%- include ("./navigation" , {userName : userName}) %>
  <hr class="nav__line" />

  <!-- <header>
    <div class="header-inner">
      <div class="header-slider">
        <div class="content">
          <div class="slide-0">text 1</div>
          <div class="slide-1">text 2</div>
          <div class="slide-2">text 3</div>
        </div>
        <div class="media">
          <div class="slide-0">
            <div class="img-container">

            </div>
          </div>
          <div class="slide-1">text 2</div>
          <div class="slide-2">text 3</div>
        </div>
      </div>
    </div>
  </header> -->

  <header class="header">
    <div data-aos="fade-down" data-aos-duration="1000" class="header__content">
      <div class="header__vertical_text">
        <div class="header__vertical_text_box">
          Where Elegance Meets Endless Inspiration.
        </div>
      </div>

      <div class="header__text">
        <div class="header__text__subheading">
          Unique Collection of
          <hr />
        </div>
        <div class="header__text__heading">
          <h1>Our Silver Rings</h1>
        </div>
        <div class="header__text__para" id="hey">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          deleniti quaerat est minima. Vel corrupti eaque est earum iusto.
        </div>
        <div class="header__text__button">
          <a href="#">BUY NOW</a>
        </div>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="1000" class="header__image">
      <div class="header__image_big" id="header_image_container">
        <img id="header_image_0" src="assets/images/img2 2.jpg" alt="" />
        <img id="header_image_1" src="assets/images/img1.jpg" alt="" />
        <img id="header_image_2" src="assets/images/img3.jpg" alt="" />
      </div>
      <div class="header__image_small">
        <img src="assets/images/img52.jpg" alt="" />
      </div>
    </div>
  </header>



</div>
<div class="mid">
  <div data-aos="fade-right" data-aos-duration="1000" class="mid__jewelry">
    <p>jewelry</p>
  </div>
  <div class="mid__quote">
    Every piece tells a story of sophistication, <br />
    tailored for the vibrant tapestry of modern life yet holding our culture.
  </div>
  <div data-aos="fade-left" data-aos-duration="1000" class="mid__selection">
    <p>selection</p>
  </div>
  <div class="mid__story" data-aos="flip-right" data-aos-duration="1000">
    <span class="mid__story__bigO" data-text="O"
      >O
      <span class="mid__story__text">Our Story</span>
    </span>
  </div>
</div>
<div class="products__container" id="category">
  <div class="products">
    <!-- <h1>Our Products :</h1> -->
    <div class="products__block products__block__item1">
      <div class="products__block__content">
        <h1>Categories</h1>
      </div>
    </div>

    <div class="products__block products__block__item2">
      <span class="ellipses">
        <svg
          class="check"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 568.4 532.7"
          style="enable-background: new 0 0 568.4 532.7"
          xml:space="preserve"
        >
          <path
            d="M21,266a263,163 0 1,0 526,0a263,163 0 1,0 -526,0"
            transform="rotate(-14.67 284.165 266.296)"
          ></path>
          <path
            d="M21,266a263,163 0 1,0 526,0a263,163 0 1,0 -526,0"
            transform="rotate(-60.877 284.171 266.32)"
          ></path>
        </svg>
      </span>
      <div class="products__block__img products__block__img2"></div>
      <div class="products__block__content">
        <h4 class="products__block__content__title">
          <a href="/category/Pendants"> Pendants </a>
        </h4>
        <div class="products__block__content__more">
          <a
            class="products__block__content__more--link"
            href="/category/Pendants"
            target="_self"
          >
            <span>Check Out</span></a
          >
        </div>
      </div>
    </div>

    <div class="products__block products__block__item3">
      <div class="products__block__img products__block__img3"></div>
      <span class="rectangle">
        <span class="rectangle-inner"></span>
      </span>
      <div class="products__block__content">
        <h4 class="products__block__content__title">
          <a href="/category/Bracelets"> Bracelets </a>
        </h4>
        <div class="products__block__content__more">
          <a
            class="products__block__content__more--link"
            href="/category/Bracelets"
            target="_self"
          >
            <span>Check Out</span></a
          >
        </div>
      </div>
    </div>

    <div class="products__block products__block__item4">
      <div class="products__block__img products__block__img4"></div>
      <span class="frame">
        <span class="frame-inner">
          <svg
            class="qodef-svg--frame"
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            viewBox="0 0 427.7 533.7"
            style="enable-background: new 0 0 427.7 533.7"
            xml:space="preserve"
          >
            <path
              class="frame-hidden"
              d="M425.7,239.5c0-131-94.8-237.1-211.9-237.1S2,108.5,2,239.5c0,4.3,0.1,8.6,0.3,12.8v279.1h423.4V240.3h0  C425.7,240,425.7,239.7,425.7,239.5z"
            ></path>
          </svg>
        </span>
      </span>
      <div class="products__block__content">
        <h4 class="products__block__content__title">
          <a href="/category/Payals"> Payals </a>
        </h4>
        <div class="products__block__content__more">
          <a
            class="products__block__content__more--link"
            href="/category/Payals"
            target="_self"
          >
            <span>Check Out</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ("./footer") %>
