<%- include ("./navigation", {userName : null}) %>
<div class="product">
  <div class="product_section">
    <div class="product_section_image">
      <div class="img_container">
        <img src="/assets/images/p-1.jpeg" alt="" />
      </div>
    </div>
    <div class="product_section_content">
      <div class="right-column">
        <!-- Product Description -->
        <div class="product-description">
          <!-- <span>Pendants</span> -->
          <h1>Silver satire</h1>
          <span>400.00 $</span>
          <p>
            The preferred choice of a vast range of acclaimed DJs. Punchy,
            bass-focused sound and high isolation. Sturdy headband and on-ear
            cushions suitable for live performance
          </p>
          <form
            class="cart"
            action="https://ascella.qodeinteractive.com/product/necklaces-gradient/"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="quantity">
              <label class="screen-reader-text" for="quantity_65c0cec301e18"
                >Necklaces Gradient quantity</label
              >
              <span class="quantity-minus"></span>
              <input
                type="text"
                id="quantity_65c0cec301e18"
                class="input-text qty text qodef-quantity-input"
                name="quantity"
                value="1"
                title="Qty"
                size="4"
                data-min="1"
                data-max=""
                data-step="1"
                placeholder=""
                inputmode="numeric"
                autocomplete="off"
              />
              <span class="quantity-plus"></span>
            </div>
            <button
              type="submit"
              name="add-to-cart"
              value="1293"
              class="single_add_to_cart_button button alt"
            >
              <div class="text">Add to cart</div>
            </button>
          </form>
          <div class="product-wishlist-share">
            <div class="wishlist">
              <span class="material-symbols-outlined icon"> favorite </span>
              <span class="text">Add to Wishlist</span>
            </div>
            <div class="share">
              <div class="text">Share:</div>
              <span class="material-symbols-outlined icon"> share </span>
              <ul>
                <li class="whatsapp">
                  <?xml version="1.0" ?><svg
                    height="56.693px"
                    id="Layer_1"
                    style="enable-background: new 0 0 56.693 56.693"
                    version="1.1"
                    viewBox="0 0 56.693 56.693"
                    width="56.693px"
                    xml:space="preserve"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <style type="text/css">
                      .st0 {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                      }
                    </style>
                    <g>
                      <path
                        class="st0"
                        d="M46.3802,10.7138c-4.6512-4.6565-10.8365-7.222-17.4266-7.2247c-13.5785,0-24.63,11.0506-24.6353,24.6333   c-0.0019,4.342,1.1325,8.58,3.2884,12.3159l-3.495,12.7657l13.0595-3.4257c3.5982,1.9626,7.6495,2.9971,11.7726,2.9985h0.01   c0.0008,0-0.0006,0,0.0002,0c13.5771,0,24.6293-11.0517,24.635-24.6347C53.5914,21.5595,51.0313,15.3701,46.3802,10.7138z    M28.9537,48.6163h-0.0083c-3.674-0.0014-7.2777-0.9886-10.4215-2.8541l-0.7476-0.4437l-7.7497,2.0328l2.0686-7.5558   l-0.4869-0.7748c-2.0496-3.26-3.1321-7.028-3.1305-10.8969c0.0044-11.2894,9.19-20.474,20.4842-20.474   c5.469,0.0017,10.6101,2.1344,14.476,6.0047c3.8658,3.8703,5.9936,9.0148,5.9914,14.4859   C49.4248,39.4307,40.2395,48.6163,28.9537,48.6163z"
                      />
                      <path
                        class="st0"
                        d="M40.1851,33.281c-0.6155-0.3081-3.6419-1.797-4.2061-2.0026c-0.5642-0.2054-0.9746-0.3081-1.3849,0.3081   c-0.4103,0.6161-1.59,2.0027-1.9491,2.4136c-0.359,0.4106-0.7182,0.4623-1.3336,0.1539c-0.6155-0.3081-2.5989-0.958-4.95-3.0551   c-1.83-1.6323-3.0653-3.6479-3.4245-4.2643c-0.359-0.6161-0.0382-0.9492,0.27-1.2562c0.2769-0.2759,0.6156-0.7189,0.9234-1.0784   c0.3077-0.3593,0.4103-0.6163,0.6155-1.0268c0.2052-0.4109,0.1027-0.7704-0.0513-1.0784   c-0.1539-0.3081-1.3849-3.3379-1.8978-4.5706c-0.4998-1.2001-1.0072-1.0375-1.3851-1.0566   c-0.3585-0.0179-0.7694-0.0216-1.1797-0.0216s-1.0773,0.1541-1.6414,0.7702c-0.5642,0.6163-2.1545,2.1056-2.1545,5.1351   c0,3.0299,2.2057,5.9569,2.5135,6.3676c0.3077,0.411,4.3405,6.6282,10.5153,9.2945c1.4686,0.6343,2.6152,1.013,3.5091,1.2966   c1.4746,0.4686,2.8165,0.4024,3.8771,0.2439c1.1827-0.1767,3.6419-1.489,4.1548-2.9267c0.513-1.438,0.513-2.6706,0.359-2.9272   C41.211,33.7433,40.8006,33.5892,40.1851,33.281z"
                      />
                    </g>
                  </svg>
                </li>
                <li class="instagram">
                  <?xml version="1.0" encoding="utf-8"?>
                  <svg
                    version="1.1"
                    id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 56.7 56.7"
                    enable-background="new 0 0 56.7 56.7"
                    xml:space="preserve"
                  >
                    <g>
                      <path
                        d="M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
		c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z"
                      />
                      <circle cx="41.5" cy="16.4" r="2.9" />
                      <path
                        d="M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
		h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
		s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
		c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z"
                      />
                    </g>
                  </svg>
                </li>
                <li class="facebook">
                  <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                  <svg
                    height="100%"
                    style="
                      fill-rule: evenodd;
                      clip-rule: evenodd;
                      stroke-linejoin: round;
                      stroke-miterlimit: 2;
                    "
                    version="1.1"
                    viewBox="0 0 512 512"
                    width="100%"
                    xml:space="preserve"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:serif="http://www.serif.com/"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <path
                      d="M512,257.555c0,-141.385 -114.615,-256 -256,-256c-141.385,0 -256,114.615 -256,256c0,127.777 93.616,233.685 216,252.89l0,-178.89l-65,0l0,-74l65,0l0,-56.4c0,-64.16 38.219,-99.6 96.695,-99.6c28.009,0 57.305,5 57.305,5l0,63l-32.281,0c-31.801,0 -41.719,19.733 -41.719,39.978l0,48.022l71,0l-11.35,74l-59.65,0l0,178.89c122.385,-19.205 216,-125.113 216,-252.89Z"
                      style="fill-rule: nonzero"
                    />
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="product-specs">
          <div class="item">
            <div class="key">Product Metal :</div>
            <div class="value">Silver</div>
          </div>
          <div class="item">
            <div class="key">Product Metal :</div>
            <div class="value">Silver</div>
          </div>
          <div class="item">
            <div class="key">Product Metal :</div>
            <div class="value">Silver</div>
          </div>
          <div class="item">
            <div class="key">Product Metal :</div>
            <div class="value">Silver</div>
          </div>
          <div class="item">
            <div class="key">Product Metal :</div>
            <div class="value">Silver</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="additional-info">
    <div class="product-additional-info">
      <div class="switcher">
        <button
          id="description"
          class="description underline_animation_active"
          onclick="openDescriptionTab()"
        >
          Description
        </button>
        <button id="delivery" class="delivery" onclick="openDeliveryTab()">
          Delivery Information
        </button>
        <button id="reviews" class="reviews" onclick="openReviewsTab()">
          Reviews
        </button>
      </div>
    </div>
    <div id="description-content" class="info-content">
      <div class="description-content-left">
        <h3>About Design</h3>
        <p class="design-details">
          This gorgeous sterling silver chain, one of our outstanding featured
          picks, belongs in every person's unique jewellery collection.
          Beautiful and elegant 925 sterling silver beaded box chain.
          <br />
          The chain's superior construction offers maximum flexibility and
          resilience, making it particularly appropriate for hanging pendants.
        </p>
        <p class="stock-update">Yayy!! In stock</p>
      </div>
      <div class="description-content-right">
        <h4>SUMMER COLLECTION</h4>
        <p>
          Lorem Ipsum estibulum blandit libero at mauris condimentum
          scelerisque. In scelerisque in mauris ut malesuada. Nam sodales
          scelerisque ipsum sed vestib.
        </p>

        <h5>PEARL INTUITION</h5>
        <p>
          Nam sodales scelerisque ipsum sed vestibulum aliquam euismod mi vitae
          nibh.
        </p>
      </div>
    </div>
    <div id="delivery-content" class="info-content">
      <div class="description-content-left">
        <h4>Returns policy</h4>
        <p>
          You may return most new, unopened items within 7 days of delivery for
          a full refund. We'll also pay the return shipping costs if the return
          is a result of our error (you received an incorrect or defective item,
          etc.).
        </p>
        <p>
          You should expect to receive your refund within four weeks of giving
          your package to the return shipper, however, in many cases you will
          receive a refund more quickly. This time period includes the transit
          time for us to receive your return from the shipper (5 to 10 business
          days), the time it takes us to process your return once we receive it
          (3 to 5 business days), and the time it takes your bank to process our
          refund request (5 to 10 business days).
        </p>
      </div>
      <div class="description-content-right">
        <h4>shipping Policy</h4>
        <p>
          We can ship to virtually any address in the world. Note that there are
          restrictions on some products, and some products cannot be shipped to
          international destinations.
        </p>
        <p>
          When you place an order, we will estimate shipping and delivery dates
          for you based on the availability of your items and the shipping
          options you choose. Depending on the shipping provider you choose,
          shipping date estimates may appear on the shipping quotes page.
        </p>

        <form action="" class="check-delivery">
          <input
            type="number"
            name="pincode"
            id="pincode"
            placeholder="Enter pincode"
          />
          <button class="submit-check-delivery">Check Availability</button>
        </form>
      </div>
    </div>
    <div id="reviews-content" class="info-content">
      <h4>1 REVIEW FOR FLAT EARRINGS</h4>
      <div class="reviews-box">
        <div class="review">
          <div class="r-img-cont">
            <img src="/assets/images/payal1.jpeg" alt="" />
          </div>
          <div class="r-details">
            <div class="stars">
              <?xml version="1.0" ?><svg class="test" baseProfile="tiny" height="24px" id="Layer_1" version="1.2" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path d="M9.362,9.158c0,0-3.16,0.35-5.268,0.584c-0.19,0.023-0.358,0.15-0.421,0.343s0,0.394,0.14,0.521    c1.566,1.429,3.919,3.569,3.919,3.569c-0.002,0-0.646,3.113-1.074,5.19c-0.036,0.188,0.032,0.387,0.196,0.506    c0.163,0.119,0.373,0.121,0.538,0.028c1.844-1.048,4.606-2.624,4.606-2.624s2.763,1.576,4.604,2.625    c0.168,0.092,0.378,0.09,0.541-0.029c0.164-0.119,0.232-0.318,0.195-0.505c-0.428-2.078-1.071-5.191-1.071-5.191    s2.353-2.14,3.919-3.566c0.14-0.131,0.202-0.332,0.14-0.524s-0.23-0.319-0.42-0.341c-2.108-0.236-5.269-0.586-5.269-0.586    s-1.31-2.898-2.183-4.83c-0.082-0.173-0.254-0.294-0.456-0.294s-0.375,0.122-0.453,0.294C10.671,6.26,9.362,9.158,9.362,9.158z"/></g></g></svg>
              <?xml version="1.0" ?><svg baseProfile="tiny" height="24px" id="Layer_1" version="1.2" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path d="M9.362,9.158c0,0-3.16,0.35-5.268,0.584c-0.19,0.023-0.358,0.15-0.421,0.343s0,0.394,0.14,0.521    c1.566,1.429,3.919,3.569,3.919,3.569c-0.002,0-0.646,3.113-1.074,5.19c-0.036,0.188,0.032,0.387,0.196,0.506    c0.163,0.119,0.373,0.121,0.538,0.028c1.844-1.048,4.606-2.624,4.606-2.624s2.763,1.576,4.604,2.625    c0.168,0.092,0.378,0.09,0.541-0.029c0.164-0.119,0.232-0.318,0.195-0.505c-0.428-2.078-1.071-5.191-1.071-5.191    s2.353-2.14,3.919-3.566c0.14-0.131,0.202-0.332,0.14-0.524s-0.23-0.319-0.42-0.341c-2.108-0.236-5.269-0.586-5.269-0.586    s-1.31-2.898-2.183-4.83c-0.082-0.173-0.254-0.294-0.456-0.294s-0.375,0.122-0.453,0.294C10.671,6.26,9.362,9.158,9.362,9.158z"/></g></g></svg>
              <?xml version="1.0" ?><svg baseProfile="tiny" height="24px" id="Layer_1" version="1.2" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path d="M9.362,9.158c0,0-3.16,0.35-5.268,0.584c-0.19,0.023-0.358,0.15-0.421,0.343s0,0.394,0.14,0.521    c1.566,1.429,3.919,3.569,3.919,3.569c-0.002,0-0.646,3.113-1.074,5.19c-0.036,0.188,0.032,0.387,0.196,0.506    c0.163,0.119,0.373,0.121,0.538,0.028c1.844-1.048,4.606-2.624,4.606-2.624s2.763,1.576,4.604,2.625    c0.168,0.092,0.378,0.09,0.541-0.029c0.164-0.119,0.232-0.318,0.195-0.505c-0.428-2.078-1.071-5.191-1.071-5.191    s2.353-2.14,3.919-3.566c0.14-0.131,0.202-0.332,0.14-0.524s-0.23-0.319-0.42-0.341c-2.108-0.236-5.269-0.586-5.269-0.586    s-1.31-2.898-2.183-4.83c-0.082-0.173-0.254-0.294-0.456-0.294s-0.375,0.122-0.453,0.294C10.671,6.26,9.362,9.158,9.362,9.158z"/></g></g></svg>
              <?xml version="1.0" ?><svg baseProfile="tiny" height="24px" id="Layer_1" version="1.2" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path d="M9.362,9.158c0,0-3.16,0.35-5.268,0.584c-0.19,0.023-0.358,0.15-0.421,0.343s0,0.394,0.14,0.521    c1.566,1.429,3.919,3.569,3.919,3.569c-0.002,0-0.646,3.113-1.074,5.19c-0.036,0.188,0.032,0.387,0.196,0.506    c0.163,0.119,0.373,0.121,0.538,0.028c1.844-1.048,4.606-2.624,4.606-2.624s2.763,1.576,4.604,2.625    c0.168,0.092,0.378,0.09,0.541-0.029c0.164-0.119,0.232-0.318,0.195-0.505c-0.428-2.078-1.071-5.191-1.071-5.191    s2.353-2.14,3.919-3.566c0.14-0.131,0.202-0.332,0.14-0.524s-0.23-0.319-0.42-0.341c-2.108-0.236-5.269-0.586-5.269-0.586    s-1.31-2.898-2.183-4.83c-0.082-0.173-0.254-0.294-0.456-0.294s-0.375,0.122-0.453,0.294C10.671,6.26,9.362,9.158,9.362,9.158z"/></g></g></svg>
              <?xml version="1.0" ?><svg baseProfile="tiny" height="24px" id="Layer_1" version="1.2" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path d="M9.362,9.158c0,0-3.16,0.35-5.268,0.584c-0.19,0.023-0.358,0.15-0.421,0.343s0,0.394,0.14,0.521    c1.566,1.429,3.919,3.569,3.919,3.569c-0.002,0-0.646,3.113-1.074,5.19c-0.036,0.188,0.032,0.387,0.196,0.506    c0.163,0.119,0.373,0.121,0.538,0.028c1.844-1.048,4.606-2.624,4.606-2.624s2.763,1.576,4.604,2.625    c0.168,0.092,0.378,0.09,0.541-0.029c0.164-0.119,0.232-0.318,0.195-0.505c-0.428-2.078-1.071-5.191-1.071-5.191    s2.353-2.14,3.919-3.566c0.14-0.131,0.202-0.332,0.14-0.524s-0.23-0.319-0.42-0.341c-2.108-0.236-5.269-0.586-5.269-0.586    s-1.31-2.898-2.183-4.83c-0.082-0.173-0.254-0.294-0.456-0.294s-0.375,0.122-0.453,0.294C10.671,6.26,9.362,9.158,9.362,9.158z"/></g></g></svg>
              
            </div>
            <div class="name">Deeksha Sharma - 15 Sep 2023</div>
            <div class="text">
              Bulum blandit libero at mauris condimentum males uada scelerisque
              in mauris ut malesuada.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var descriptionButton = document.getElementById("description");
    var deliveryButton = document.getElementById("delivery");
    var reviewsButton = document.getElementById("reviews");
    var descriptionContent = document.getElementById("description-content");
    var deliveryContent = document.getElementById("delivery-content");
    var reviewsContent = document.getElementById("reviews-content");

    function openDescriptionTab() {
      descriptionContent.style.opacity = 1;
      deliveryContent.style.opacity = 0;
      reviewsContent.style.opacity = 0;
      descriptionButton.classList.add("underline_animation_active");
      deliveryButton.classList.remove("underline_animation_active");
      reviewsButton.classList.remove("underline_animation_active");
    }

    function openDeliveryTab() {
      descriptionContent.style.opacity = 0;
      deliveryContent.style.opacity = 1;
      reviewsContent.style.opacity = 0;
      deliveryButton.classList.add("underline_animation_active");
      descriptionButton.classList.remove("underline_animation_active");
      reviewsButton.classList.remove("underline_animation_active");
    }

    function openReviewsTab() {
      descriptionContent.style.opacity = 0;
      deliveryContent.style.opacity = 0;
      reviewsContent.style.opacity = 1;
      reviewsButton.classList.add("underline_animation_active");
      descriptionButton.classList.remove("underline_animation_active");
      deliveryButton.classList.remove("underline_animation_active");
    }
  </script>
</div>
