@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Headland+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  background-color: rgba(226, 234, 240, 0.5);
}

body {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) calc(100% - 1px), #c7dee2 0);
  background-size: calc((100% - 25px) / 5 + 5px) 100%;
  font-size: 1.6rem;
  border-radius: 5px;
  font-family: Google Sans, -apple-system, BlinkMacSystemFont, sans-serif;
}

.header-nav {
  padding-top: 1rem;
  background: linear-gradient(to bottom, rgba(226, 234, 240, 0.8) 40%, rgba(199, 222, 226, 0.5));
  height: 100vh;
}

.nav {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 10rem;
  text-align: center;
}
.nav__category-item, .nav__category-list {
  display: none;
}
.nav__line {
  width: 95%;
  text-align: center;
  margin: auto;
  height: 0.1px;
  background-color: rgba(57, 22, 40, 0.2705882353);
  border: none;
}
.nav__block {
  align-self: center;
  height: 100%;
  flex: 1 1 0px;
  text-align: center;
}
.nav__block a {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  flex-direction: column;
  line-height: 2.3rem;
  color: #222;
}
.nav__block a span {
  line-height: 3rem;
  color: #055569;
  font-weight: 800;
}
.nav__block img {
  height: 100%;
  padding: 1rem 0px 0 2rem;
  margin-top: 1rem;
}

.header {
  height: 80vh;
  display: flex;
  justify-content: space-around;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__image {
  position: relative;
  display: block;
  width: 40vw;
  overflow: hidden;
}
.header__image_big {
  position: absolute;
  width: 74%;
  top: 50%;
  left: 60%;
  transform: translate(-55%, -50%);
  height: 36vw;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(10, 43, 75, 0.2), 0 6px 20px 0 rgba(10, 43, 75, 0.2);
  transition: all 1s;
  background: black;
}
.header__image_big img {
  height: -webkit-fill-available;
  transition: all 1s;
  display: block;
}
.header__image_big::-webkit-scrollbar {
  display: none;
}
.header__image_small img {
  position: absolute;
  width: 30%;
  top: 65%;
  left: 15%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(41, 18, 42, 0.2), 0 6px 20px 0 rgba(41, 18, 42, 0.2);
}
.header__vertical_text {
  position: absolute;
  transform: translate(-50%, -5%);
}
.header__vertical_text_box {
  transform: rotate(-90deg);
  font-family: "Edu TAS Beginner", cursive;
  letter-spacing: 1px;
  color: rgba(5, 85, 105, 0.9);
}
.header__content {
  position: relative;
  width: 50vw;
  overflow-x: visible;
}
.header__text {
  position: absolute;
  top: 30%;
  left: 15%;
}
.header__text__subheading {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
.header__text__subheading hr {
  display: inline-block;
  width: 20rem;
  margin-bottom: 4px;
  border: none;
  background: #097f9d;
  height: 1px;
}
.header__text__heading h1 {
  font-size: 6.5rem;
  font-weight: 300;
  font-family: "Headland One", serif;
  margin-top: 1rem;
  color: #222;
  transform: translateX(-5px);
}
.header__text__para {
  margin-top: 2rem;
  font-size: 1.4rem;
  width: 80%;
  color: #06586d;
  margin-bottom: 5rem;
  letter-spacing: 1px;
}
.header__text__button a {
  padding: 1.5rem 3rem;
  text-decoration: none;
  color: #055569;
  border: 2px solid #055569;
  margin-top: 6rem;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
}

.header_transformed_props {
  opacity: 0.1;
  transform: scaleX(1.5);
}

.mid {
  background: linear-gradient(to top, rgba(226, 234, 240, 0.8) 40%, rgba(199, 222, 226, 0.5));
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  position: relative;
  padding: 10rem 0 20rem 0;
}
.mid__jewelry p {
  font-size: 24rem;
  color: rgba(199, 222, 226, 0.6);
  line-height: 15rem;
  z-index: 1;
}
.mid__quote {
  width: 50%;
  margin: 0 auto;
  font-size: 3.5rem;
  text-align: center;
  color: #222;
  font-weight: 100;
  z-index: 100;
  position: inherit;
}
.mid__selection p {
  font-size: 24rem;
  color: rgba(199, 222, 226, 0.6);
  text-align: right;
  line-height: 15rem;
  z-index: 1;
}
.mid__story {
  text-align: center;
}
.mid__story__bigO {
  font-size: 20rem;
  height: 20rem;
  position: absolute;
  transform: scale(1) translateX(-50%);
  background: url(/assets/images/img3.jpg);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: 0.5s all;
  overflow: hidden;
}
.mid__story__text {
  font-size: 1.4rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-spacing: 99999px;
  text-transform: uppercase;
  line-height: normal;
  color: #055569;
}
.mid__story__bigO:hover {
  color: #055569;
  transition: 0.5s all;
  transform: scale(0.99) translateX(-50%);
}

.ellipses {
  transform: scale(1.4);
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 2;
}
.ellipses svg {
  stroke-dashoffset: 1440px;
  stroke-dasharray: 1440px;
  transition: stroke-dashoffset 2s cubic-bezier(0.38, 0.01, 0.34, 0.98);
}
.ellipses .abc {
  stroke-dashoffset: 0px;
}

.products {
  display: grid;
  grid-template-columns: 45% 10% 5% 36% 4%;
  grid-template-rows: 32% 10% 5% 36% 12%;
  margin: 0 auto;
  height: 130vh;
  width: 65vw;
}
.products__container {
  background: linear-gradient(to bottom, rgba(226, 234, 240, 0.8) 40%, rgba(199, 222, 226, 0.5));
  padding: 20rem 0rem;
}
.products__block {
  position: relative;
}
.products__block__img2 {
  background: url(/assets/images/chain.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
}
.products__block__img3 {
  background: url(/assets/images/bracelet3.jpeg);
  background-position: center;
  background-size: cover;
  height: 100%;
}
.products__block__img4 {
  background: url(/assets/images/payal5.jpeg);
  background-position: center;
  background-size: cover;
  height: 100%;
}
.products__block__item1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  border: none;
}
.products__block__item2 {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  overflow: hidden;
}
.products__block__item3 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 6;
}
.products__block__item4 {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 5;
}

.rectangle {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 2;
}
.rectangle-inner {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  --qodef-hover-border-color: currentColor;
  background-repeat: no-repeat;
  background-size: 0% 1px, 1px 0%;
  background-position: 0 0, 100% 100%, 100% 100%, 0 0;
  background-image: linear-gradient(0deg, var(--qodef-hover-border-color), var(--qodef-hover-border-color)), linear-gradient(0deg, var(--qodef-hover-border-color), var(--qodef-hover-border-color)), linear-gradient(0deg, var(--qodef-hover-border-color), var(--qodef-hover-border-color)), linear-gradient(0deg, var(--qodef-hover-border-color), var(--qodef-hover-border-color));
  transition: background-size 1.2s cubic-bezier(0.54, 0.07, 0.11, 0.95);
  pointer-events: none;
}
.rectangle .appear {
  transition-delay: 0.5s;
  background-size: 100% 1px, 1px 100%;
}

.frame {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 2;
}
.frame-inner {
  width: calc(100% - 34px);
  height: calc(100% - 22px);
  position: relative;
}
.frame-inner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(55, 45, 45, 0.59));
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.7s ease-out;
}
.frame svg {
  overflow: visible;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  fill: none;
  stroke: currentColor;
  stroke-miterlimit: 10;
  stroke-width: 1;
}
.frame svg path {
  stroke-dashoffset: 1720px;
  stroke-dasharray: 1720px;
  transition: stroke-dashoffset 2s cubic-bezier(0.38, 0.01, 0.34, 0.98);
}
.frame svg .appear {
  stroke-dashoffset: 0px;
}

.category__header {
  display: flex;
  flex-direction: column-reverse;
}
.category__header-text {
  margin-top: 22rem;
}
.category__header-text h1 {
  font-size: 7rem;
  font-family: "Sorts Mill Goudy", serif;
  text-align: center;
  color: #222;
  letter-spacing: 1px;
}
.category__header-box {
  margin: 0 auto;
  width: 60vw;
  margin-top: 20rem;
}
.category__header-box-bg {
  background: #e2eaee;
  text-align: center;
  height: 40rem;
}
.category__header-box__img-container {
  display: inline-block;
  width: 50rem;
  text-align: left;
}
.category__header-box__img-container .appear {
  width: 50rem;
}
.category__header-box-img {
  display: inline-block;
  overflow-x: clip;
  width: 0rem;
  transition: all 2s;
}
.category__header-box-img img {
  margin-top: -10rem;
  height: 60rem;
}
